.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.login-form {
  width: 500px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: auto;

  @media (max-width: 600px) {
    width: 320px;
  }
}

.login-form label {
  display: block;
  margin-bottom: 10px;
}

.login-form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-form button,
.login-form .signup {
  width: 100%; 
  justify-content: space-between;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-form button{
  background-color: #4caf50;
  margin: 10px;
  margin-left: 0;
}
.login-form button:hover{ 
  background-color: #45a049;
}
.signup {
  background-color: #3498db;
}

.signup:hover {
  background-color: #2980b9;
}
